@model IEnumerable<BarEventsManager.Models.Events>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhyIsThereAGenre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue.Name)
        </td>
    </tr>
}
