@model IEnumerable<BarEventsManager.Models.Events>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bar Events Manager</h1>
    <p class="lead">Welcome to the app lolz</p>

    <div class="row">
        <input class="input-group-lg" type="text" id="needle" placeholder="search something" />
        <button id="searchButton" onClick="searchEvents();"><i class="glyphicon glyphicon-search"></i></button>

    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhyIsThereAGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
        </tr>
    </thead>
    <tbody id="results">
       @Html.Partial("_ListOfEvents", Model)
</tbody>
</table>
